OPENPAY_PRIVATE_API_KEY=your_api_key_here
OPENPAY_PUBLIC_API_KEY=your_public_api_key_here
OPENPAY_MERCHANT_ID=your_merchant_id_here
OPENPAY_URI=https://sandbox-api.openpay.mx/v1
OPENPAY_PRODUCTION=false
MIKROTIK_HOST=192.168.95.2
MIKROTIK_USER=admin
MIKROTIK_PASSWORD=admin
MIKROTIK_PORT=443
MIKROTIK_REST_USE_HTTPS=true
MIKROTIK_REST_ALLOW_INSECURE=true
CORS_ORIGIN=*

DATABASE_URL="file:./dev.sqlite"